@use 'mixins/adaptive-font' as *;
@use 'vars' as *;

html {
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	height: 100%;
	font-family: var(--font-second);
	font-weight: 400;
	color: var(--dark-color);
	background-color: var(--light-color);
	@include adaptive-font(18, 16);

	&.lock {
		overflow: hidden;
	}
}

.site-container {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 1 auto;
	max-width: 750px;

	@media (max-width: 992px) {
		margin: 0 auto;
		min-width: 0;
	}
}

.section {
	padding: 65px 0;
}

.container {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
	max-width: $container-width + px;
	gap: 40px;
}

img {
	max-width: 100%;
	object-fit: cover;
}

.link-reset {
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

.btn-reset {
	border: none;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.input-reset {
	margin: 0;
	border: none;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

.error {
	border: 2px solid var(--error-color);
}
