// * Максимальная и минимальная ширина макета
$container-width: 1430;
$mobile-width: 420;

:root {
	// * Цвета
	--dark-color: #1d1d1d;
	--light-color: #fff;
	--bg-color: #f4f1ff;
	--accent-color: #845bff;
	--second-accent-color: #f06060;
	--grey-color: #595959;
	--error-color: #f06464;
	--border-color: #dadada;
	--placeholder-color: #b2b2b2;
	--plug-color: #d9d9d9;
	--light-accent-color: #b59dff;

	// * Шрифты
	--font-main: 'Montserrat', sans-serif;
	--font-second: 'OpenSans', sans-serif;
	--line-height: 120%;

	// * Визуал
	--time: 0.2s;
	--radius: 15px;

	// * Медиа бургера
	--mobile-width: 992;
}
