@use 'mixins/adaptive-font' as *;

.advantages {
	&__cards {
		display: grid;
		gap: 20px;
		grid-template: auto/repeat(2, 1fr);

		@media (max-width: 576px) {
			grid-template: auto / 1fr;
		}
	}
}

.advantages-card {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding: 25px 20px;
	padding-top: 90px;
	box-shadow: 0 0 10px 0 rgb(29 29 27 / 15%);
	text-align: center;
	background-position: top 20px center;
	background-size: 50px;
	background-repeat: no-repeat;
	background-color: var(--light-color);

	&__title {
		margin-bottom: 5px;
		@include adaptive-font(22, 20);
	}
}
