.categories {
	&__wrap {
		display: grid;
		grid-template: repeat(2, auto) / repeat(3, 1fr);
		gap: 15px;
		margin-bottom: 60px;

		@media (max-width: 992px) {
			grid-template: auto / repeat(2, 1fr);
		}

		@media (max-width: 768px) {
			grid-template: auto / 1fr;
		}
	}

	&__card {
		position: relative;
		overflow: hidden;
		border-radius: 10px;
		min-height: 200px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		transition-property: transform, box-shadow;
		transition-duration: var(--time);

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: var(--dark-color);
			opacity: 0.3;
		}

		&:hover {
			box-shadow: 0 7px 12px 0 rgb(0 0 0 / 30%);
			transform: translateY(-7px);
		}
	}

	&__info {
		position: absolute;
		left: 50%;
		bottom: 25px;
		border-radius: 5px;
		padding: 5px 10px;
		max-width: 190px;
		background: rgb(255 255 255 / 50%);
		transform: translateX(-50%);
		backdrop-filter: blur(6px);
	}

	&__title {
		margin: 0;
		font-family: var(--font-main);
		font-weight: 800;
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
		color: var(--light-color);
	}
}
