.contact {
	display: flex;
	filter: drop-shadow(0 0 12px rgb(0 0 0 / 7%));

	&__inner {
		border-radius: 30px 0 0 30px;
		padding: 40px;
		width: 100%;
		max-width: 390px;
		background: var(--bg-color);

		&--white {
			border-radius: 0 30px 30px 0;
			background: var(--light-color);
		}

		@media (max-width: 768px) {
			border-radius: 30px 30px 0 0;

			&--white {
				border-radius: 0 0 30px 30px;
			}
		}
	}

	&__title {
		margin: 0;
		margin-bottom: 10px;
		font-family: var(--font-main);
		font-weight: 600;
		font-size: 24px;
	}

	&__texts {
		margin-bottom: 40px;
	}

	&__form {
		& p {
			display: flex;
			flex-direction: column;
			margin: 0;
			gap: 20px;
		}
	}

	@media (max-width: 768px) {
		flex-direction: column;
	}
}
