/* stylelint-disable prettier/prettier */
@use 'vars' as *;

.header {
	position: static;
	z-index: 10;
	border-bottom: 1px solid var(--border-color);
	width: 100%;
	background-color: var(--light-color);

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		padding: 15px;
		max-width: $container-width + px;
	}

	&__connection {
		
		@media (max-width: 1200px) {
			display: none;
		}
	}

	&--sticky {
		position: sticky;
		transition: top 0.3s;
	}
}
