.hits {
	&__cards {
		display: flex;
		gap: 15px;
	}
}

.hits-card {
	border-radius: 10px;
	max-width: 375px;
	background-color: var(--bg-color);

	&__img {
		min-height: 330px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__inner {
		padding: 25px 67px;
	}

	&__title {
		margin-bottom: 15px;
	}

	&__text {
		margin-bottom: 20px;
	}

	&__link {
		width: 100%;
		text-align: center;
	}
}
