.hits {
	&__cards {
		display: flex;
		gap: 15px;
	}
}

.hits-card {
	border-radius: 10px;
	padding: 25px 67px;
	max-width: 375px;
	background-color: var(--bg-color);

	&__title {
		margin-bottom: 15px;
	}

	&__text {
		margin-bottom: 20px;
	}

	&__link {
		padding: 15px 82px;
	}
}
