.pickup {
	&__item {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__icon {
		width: 25px;
		height: 35px;
	}

	&__text {
		font-weight: 600;
		font-size: 20px;
		color: var(--dark-color);
	}
}
