.reviews {
	&__slider {
		margin-bottom: 60px;
		padding-bottom: 80px;
	}
}

.review-slide {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 5px;
	height: 100%;
	min-height: 550px;
	max-width: 255px;
	max-height: 650px;
	background-position: center;
	background-size: 160%;
	background-repeat: no-repeat;

	&::after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(4px);
	}

	img {
		position: relative;
		z-index: 1;
		max-width: 255px;
	}
}
