<section class="section">
	<div class="advantages">
		<div class="info-card">
			<h2 class="info-card__title">
				Преимущества
			</h2>
			<p class="info-card__description text">
				Преимущества заказа оборудования у нас
			</p>
		</div>

		<div class="advantages__cards">
			<div class="advantages-card" style="background-image: url('img/icons/sprite.svg#time');">
				<h3 class="advantages-card__title subtitle">
					Экономия времени
				</h3>
				<p class="advantages-card__text text">
					Мы берём на себя все этапы работы, от замеров до монтажа.
				</p>
			</div>

			<div class="advantages-card" style="background-image: url('img/icons/sprite.svg#delivery');">
				<h3 class="advantages-card__title subtitle">
					Комплексный подход
				</h3>
				<p class="advantages-card__text text">
					Мы предлагаем полный спектр услуг, включая доставку и установку оборудования.
				</p>
			</div>

			<div class="advantages-card" style="background-image: url('img/icons/sprite.svg#benefit');">
				<h3 class="advantages-card__title subtitle">
					Выгодная цена
				</h3>
				<p class="advantages-card__text text">
					Наши предложения по ценам конкурентоспособны и выгодны для клиентов.
				</p>
			</div>

			<div class="advantages-card" style="background-image: url('img/icons/sprite.svg#cooperation');">
				<h3 class="advantages-card__title subtitle">
					Удобство сотрудничества
				</h3>
				<p class="advantages-card__text text">
					Мы берём на себя все организационные вопросы, позволяя вам сосредоточиться на других задачах.
				</p>
			</div>
		</div>
	</div>
</section>