<section class="section">
	<div class="categories">
		<div class="info-card">
			<h2 class="info-card__title">
				Категории
			</h2>
			<p class="info-card__description text">
				В нашу товарную линейку входят такие позиции как:
			</p>
		</div>

		<div class="categories__wrap">

			<a class="categories__card link-reset" href="#/" style="background-image: url(@img/categories/category-1.webp);">
				<div class="categories__info">
					<h3 class="categories__title">
						Борцовские ковры
					</h3>
				</div>
			</a>

			<a class="categories__card link-reset" href="#/" style="background-image: url(@img/categories/category-1.webp);">
				<div class="categories__info">
					<h3 class="categories__title">
						Борцовские ковры
					</h3>
				</div>
			</a>

			<a class="categories__card link-reset" href="#/" style="background-image: url(@img/categories/category-1.webp);">
				<div class="categories__info">
					<h3 class="categories__title">
						Борцовские ковры
					</h3>
				</div>
			</a>

			<a class="categories__card link-reset" href="#/" style="background-image: url(@img/categories/category-1.webp);">
				<div class="categories__info">
					<h3 class="categories__title">
						Борцовские ковры
					</h3>
				</div>
			</a>

			<a class="categories__card link-reset" href="#/" style="background-image: url(@img/categories/category-1.webp);">
				<div class="categories__info">
					<h3 class="categories__title">
						Борцовские ковры
					</h3>
				</div>
			</a>

			<a class="categories__card link-reset" href="#/" style="background-image: url(@img/categories/category-1.webp);">
				<div class="categories__info">
					<h3 class="categories__title">
						Борцовские ковры
					</h3>
				</div>
			</a>
		</div>

		<a class="link link-reset" href="#/">
			Показать ещё
		</a>
	</div>
</section>