<section class="section">
	<div class="conditions">

		<div class="conditions__card">
			<h2 class="conditions__title">
				Спец условия для спортивных федераций и бюджетных учреждений по фз 44 и 223
			</h2>
			<div class="conditions__form">
				<form class="wpcf7-form" action="#">
					<p>
						<span>
							<input class="input input-reset" type="text" placeholder="Ваше имя">
						</span>
						<span>
							<input class="input input-reset" type="phone" placeholder="Ваш телефон">
						</span>
						<input class="submit input-reset" type="submit" value="Узнать">
					</p>
				</form>
			</div>
		</div>

	</div>
</section>