<section class="section">
	<h2 class="is-hidden">
		Контактная информация
	</h2>
	<div class="contact-info">
		<div class="contact-info__item">
			<svg class="contact-info__icon">
				<use href="img/icons/sprite.svg#marker"></use>
			</svg>
			<div class="contact-info__inner">
				<span class="contact-info__title">
					Адрес
				</span>
				<address class="contact-info__value text">
					г.Москва, Алтуфьевское шоссе 47
				</address>
			</div>
		</div>

		<div class="contact-info__item">
			<svg class="contact-info__icon">
				<use href="img/icons/sprite.svg#phone"></use>
			</svg>
			<div class="contact-info__inner">
				<span class="contact-info__title">
					Телефон
				</span>
				<a class="contact-info__value contact-info__link text link-reset" href="tel:79848885250">
					+7 (984) 888-52-50
				</a>
			</div>
		</div>

		<div class="contact-info__item">
			<svg class="contact-info__icon">
				<use href="img/icons/sprite.svg#mail"></use>
			</svg>
			<div class="contact-info__inner">
				<span class="contact-info__title">
					Почта
				</span>
				<a class="contact-info__value contact-info__link text link-reset" href="mailto:info@rino-sport.com">
					info@rino-sport.com
				</a>
			</div>
		</div>
	</div>

	<div class="contact-info">
		<div class="contact-info__item">
			<svg class="contact-info__icon">
				<use href="img/icons/sprite.svg#info"></use>
			</svg>
			<div class="contact-info__inner">
				<span class="contact-info__title">
					Расчётный счёт
				</span>
				<span class="contact-info__value text">
					40702810638070002601
				</span>
			</div>
		</div>

		<div class="contact-info__item contact-info__item--left-padding">
			<div class="contact-info__inner">
				<span class="contact-info__title">
					Название банка
				</span>
				<span class="contact-info__value text">
					Филиал «Екатеринбургский» АО «АЛЬФА-БАНК»
				</span>
			</div>
		</div>

		<div class="contact-info__item contact-info__item--left-padding">
			<div class="contact-info__inner">
				<span class="contact-info__title">
					БИК
				</span>
				<span class="contact-info__value text">
					046577964
				</span>
			</div>
		</div>

		<div class="contact-info__item contact-info__item--left-padding">
			<div class="contact-info__inner">
				<span class="contact-info__title">
					Корреспондентский счёт
				</span>
				<span class="contact-info__value text">
					30101810100000000964
				</span>
			</div>
		</div>

		<div class="contact-info__item contact-info__item--left-padding">
			<div class="contact-info__inner">
				<span class="contact-info__title">
					Наименование
				</span>
				<span class="contact-info__value text">
					Общество с ограниченной ответственностью "СЕР-БА"
				</span>
			</div>
		</div>

		<div class="contact-info__item contact-info__item--left-padding">
			<div class="contact-info__inner">
				<span class="contact-info__title">
					ИНН
				</span>
				<span class="contact-info__value text">
					7444030313
				</span>
			</div>
		</div>

		<div class="contact-info__item contact-info__item--left-padding">
			<div class="contact-info__inner">
				<span class="contact-info__title">
					КПП
				</span>
				<span class="contact-info__value text">
					745501001
				</span>
			</div>
		</div>
	</div>
</section>