<section class="section">
	<div class="contact">
		<h2 class="is-hidden">Свяжитесь с нами</h2>

		<div class="contact__card">
			<div class="contact__inner">
				<div class="contact__texts">
					<h3 class="contact__title">
						Свяжитесь с нами
					</h3>
					<p class="contact__text text">
						Готовы оснастить свое предприятие профессиональным спортивным оборудованием? Свяжитесь с нами для бесплатной
						консультации.
					</p>
				</div>

				<div class="contact__info contact-info">
					<div class="contact-info__item">
						<svg class="contact-info__icon">
							<use href="img/icons/sprite.svg#marker"></use>
						</svg>
						<div class="contact-info__inner">
							<span class="contact-info__title">
								Адрес
							</span>
							<address class="contact-info__value text">
								г.Москва, Алтуфьевское шоссе 47
							</address>
						</div>
					</div>

					<div class="contact-info__item">
						<svg class="contact-info__icon">
							<use href="img/icons/sprite.svg#phone"></use>
						</svg>
						<div class="contact-info__inner">
							<span class="contact-info__title">
								Телефон
							</span>
							<a class="contact-info__value contact-info__link text link-reset" href="tel:79848885250">
								+7 (984) 888-52-50
							</a>
						</div>
					</div>

					<div class="contact-info__item">
						<svg class="contact-info__icon">
							<use href="img/icons/sprite.svg#mail"></use>
						</svg>
						<div class="contact-info__inner">
							<span class="contact-info__title">
								Почта
							</span>
							<a class="contact-info__value contact-info__link text link-reset" href="mailto:info@rino-sport.com">
								info@rino-sport.com
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="contact__inner contact__inner--white">
				<h3 class="contact__title">
					Напишите нам
				</h3>

				<div class="contact__form">
					<form class="wpcf7-form" action="#">
						<p>
							<span>
								<input class="input input-reset" type="text" placeholder="Ваше имя">
							</span>
							<span>
								<input class="input input-reset" type="phone" placeholder="Ваш телефон">
							</span>
							<span>
								<input class="input input-reset" type="mail" placeholder="Ваш E-mail">
							</span>
							<span>
								<textarea class="textarea input input-reset" placeholder="Ваше сообщение"></textarea>
							</span>
							<input class="submit input-reset" type="submit" value="Отправить">
						</p>
					</form>
				</div>
			</div>
		</div>

	</div>
</section>