<section class="section">
	<div class="delivery">

		<div class="info-card">
			<h2 class="info-card__title">
				Доставка
			</h2>
			<p class="info-card__description text">
				Доставим ваш заказ через частного водителя — без лишних перегрузок на складах ТК это обеспечивает более быструю
				и надёжную доставку
			</p>
		</div>

		<p class="delivery__text text">
			Мы сотрудничаем с такими транспортными компаниями как:
		</p>

		<div class="delivery__cards">
			<div class="delivery__card" style="background-image: url('@img/delivery/delivery-1.webp');"></div>
			<div class="delivery__card" style="background-image: url('@img/delivery/delivery-2.webp');"></div>
			<div class="delivery__card" style="background-image: url('@img/delivery/delivery-3.webp');"></div>
			<div class="delivery__card" style="background-image: url('@img/delivery/delivery-4.webp');"></div>
			<div class="delivery__card" style="background-image: url('@img/delivery/delivery-5.webp');"></div>
			<div class="delivery__card" style="background-image: url('@img/delivery/delivery-6.webp');"></div>
			<div class="delivery__card" style="background-image: url('@img/delivery/delivery-7.webp');"></div>
			<div class="delivery__card" style="background-image: url('@img/delivery/delivery-8.webp');"></div>
			<div class="delivery__card" style="background-image: url('@img/delivery/delivery-9.webp');"></div>
		</div>

	</div>
</section>