<footer class="footer">
	<div class="container">
		<div class="footer__wrap">
			<div class="footer__info">
				<div class="footer__inner">
					<a class="footer__logo logo" href="#/">
						<img class="logo__img" src="@img/header/logo.svg" alt="Логотип">
					</a>
					<div class="footer__connection connection">
						<div class="social">
							<a class="social__link link-reset" href="#">
								<svg class="social__icon">
									<use href="img/icons/sprite.svg#tg-icon"></use>
								</svg>
							</a>
							<a class="social__link link-reset" href="#">
								<svg class="social__icon">
									<use href="img/icons/sprite.svg#wa-icon"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>

				<div class="footer__inner">
					<address class="footer__address">
						г.Москва, Алтуфьевское шоссе 47
					</address>

					<ul class="footer__details details list-reset">
						<li class="details__item">
							<span class="details__text">
								ИНН: 7444030313
							</span>
						</li>
						<li class="details__item">
							<span class="details__text">
								КПП: 745501001
							</span>
						</li>
						<li class="details__item">
							<span class="details__text">
								ОГРН: 1027402060014
							</span>
						</li>
					</ul>

					<div class="footer__links">
						<a class="footer__link link-reset" href="#">
							Политика конфиденциальности
						</a>
						<a class="footer__link link-reset" href="#">
							Договор оферты
						</a>
					</div>

				</div>
			</div>

			<div class="footer__menu menu">
				<h2 class="menu__title">
					Меню
				</h2>
				<nav class="menu__body">
					<ul class="menu__list list-reset">
						<li class="menu__item">
							<a class="menu__link link-reset" data-goto="">Главная</a>
						</li>
						<li class="menu__item">
							<a class="menu__link link-reset" data-goto="">Каталог</a>
						</li>
						<li class="menu__item">
							<a class="menu__link link-reset" data-goto="">Отзывы</a>
						</li>
						<li class="menu__item">
							<a class="menu__link link-reset" data-goto="">Монтаж</a>
						</li>
						<li class="menu__item">
							<a class="menu__link link-reset" data-goto="">Оплата и доставка</a>
						</li>
						<li class="menu__item">
							<a class="menu__link link-reset" data-goto="">Контакты</a>
						</li>
					</ul>
				</nav>
			</div>

			<div class="footer__menu menu">
				<h2 class="menu__title">
					Популярные категории
				</h2>
				<nav class="menu__body">
					<ul class="menu__list list-reset">
						<li class="menu__item">
							<a class="menu__link link-reset" data-goto="">Борцовские ковры</a>
						</li>
						<li class="menu__item">
							<a class="menu__link link-reset" data-goto="">Татами</a>
						</li>
						<li class="menu__item">
							<a class="menu__link link-reset" data-goto="">Будо-маты</a>
						</li>
						<li class="menu__item">
							<a class="menu__link link-reset" data-goto="">Боксёрские ринги</a>
						</li>
						<li class="menu__item">
							<a class="menu__link link-reset" data-goto="">Клетки ММА</a>
						</li>
						<li class="menu__item">
							<a class="menu__link link-reset" data-goto="">Настенные протекторы</a>
						</li>
					</ul>
				</nav>
			</div>

		</div>
	</div>
</footer>