<section class="section">
	<div class="froze">

		<div class="froze__card">
			<div class="froze__texts">
				<h2 class="froze__title">
					Мы делаем замер в любом городе
				</h2>
				<h3 class="froze__subtitle">
					Бесплатно
				</h3>
				<p class="froze__text text">
					Чтобы монтаж прошел гладко и с первого раза - достаточно вызвать нашего профессионального замерщика, который
					все
					подскажет и сделает точные замеры для расчета коммерческого предложения и последующего монтажа.
				</p>
			</div>

			<div class="froze__form">
				<form class="wpcf7-form" action="#">
					<p>
						<span>
							<input class="input input-reset" type="text" placeholder="Ваше имя">
						</span>
						<span>
							<input class="input input-reset" type="tel" placeholder="Ваш телефон">
						</span>
						<input class="submit input-reset" type="submit" value="Вызвать замерщика">
					</p>
				</form>
			</div>
		</div>

	</div>
</section>