<section class="section">
	<div class="hero">
		<div class="hero__content">
			<h1 class="hero__title main-title">
				{{{ hero-title }}}
			</h1>
			<p class="hero__text text">
				{{ hero-text }}
			</p>
			<div class="hero__links">
				<a class="link link--bg-red link-reset" href="#">
					Заказать 3D проект зала
				</a>
				<a class="link link-reset" href="#">
					Консультация
				</a>
			</div>
		</div>

		<div class="hero__wrap">
			<ul class="list list-reset">
				<li class="list__item">
					Проведем замер в любом городе = 0 руб
				</li>
				<li class="list__item">
					Подготовим 3D визуализацию вашего зала мечты
				</li>
				<li class="list__item">
					Изготовим и поставим всю мебель и спортивное оборудование
				</li>
				<li class="list__item">
					Доставим частным водителем до двери
				</li>
				<li class="list__item">
					Проведем полный монтаж
				</li>
			</ul>
		</div>
	</div>
</section>