<section class="section">
	<div class="hits">

		<div class="info-card">
			<h2 class="info-card__title">
				Хиты продаж
			</h2>
			<p class="info-card__description text">
				Посмотрите что покупают чаще всего
			</p>
		</div>

		<div class="hits__cards">
			<div class="hits-card">
				<h3 class="hits-card__title subtitle">
					Макивара для каратэ и кикбоксинга
				</h3>
				<p class="hits-card__text text">
					1970р/шт. (при заказе от 30 шт.)
				</p>
				<a class="hits-card__link link-reset link" href="#/">Заказать</a>
			</div>

			<div class="hits-card">
				<h3 class="hits-card__title subtitle">
					Снарядные перчатки для бокса
				</h3>
				<p class="hits-card__text text">
					1030р/шт. (при заказе от 30 пар)
				</p>
				<a class="hits-card__link link-reset link" href="#/">Заказать</a>
			</div>
		</div>

	</div>
</section>