<section class="section">
	<div class="installation">

		<div class="info-card">
			<h2 class="info-card__title">
				Этапы монтажа
			</h2>
			<p class="info-card__description text">
				Посмотрите как происходит монтаж нашей профессиональной бригадой
			</p>
		</div>

		<div class="installation__cards installation-cards">

			<div class="installation-card">
				<p class="installation-card__text text">
					Доставка/разгрузка
				</p>
			</div>

			<div class="installation-card">
				<p class="installation-card__text text">
					Сверка размеров
				</p>
			</div>

			<div class="installation-card">
				<p class="installation-card__text text">
					Монтаж ковра
				</p>
			</div>

			<div class="installation-card">
				<p class="installation-card__text text">
					Монтаж протекторов
				</p>
			</div>

			<div class="installation-card">
				<p class="installation-card__text text">
					Приёмка работы
				</p>
			</div>

			<a class="installation-cards__link link-reset" href="#/"
				style="background-image: url('img/icons/sprite.svg#arrow-down');">
				Бесплатный замер в любом городе
			</a>

		</div>

	</div>
</section>