<section class="section">
	<div class="payment">

		<div class="info-card">
			<h2 class="info-card__title">Оплата</h2>
			<p class="info-card__description text">
				Как правило мы работаем по предоплате 100%, но есть исключения, когда мы можем предоставить
				иную форму работы
			</p>
		</div>

		<div class="payment__cards">

			<div class="payment__card">
				<h3 class="payment__title">
					Мы работаем как с физическими лицами, так и юридическими:
				</h3>
				<p class="payment__text text">
					Бюджетные учреждения по ФЗ №44 и №223 (школы, училища, ДЮСШ и тд)
				</p>
				<p class="payment__text text">
					Торговыми организациями ООО и ИП (дилерами, подрядчиками и тд)
				</p>
				<p class="payment__text text">
					Спортивными клубами и залами
				</p>
			</div>

			<div class="payment__card">
				<h3 class="payment__title">
					Оплата происходит удобным для Вас способом:
				</h3>
				<p class="payment__text text">
					Безналичный или наличный расчеты в офисе или на складе
				</p>
				<p class="payment__text text">
					Visa, Master Card (Сбербанк, Альфа-банк, Тинькофф, ВТБ и ост)
				</p>
				<p class="payment__text text">
					Яндекс Деньги и другие сервисы
				</p>
			</div>

		</div>

	</div>
</section>