<section class="section">
	<div class="pickup">

		<div class="info-card">
			<h2 class="info-card__title">
				Самовывоз
			</h2>
			<p class="info-card__description text">
				Вы можете самостоятельно забрать заказ с нашего склада в удобное время, это бесплатно и позволяет получить товар
				без ожидания доставки
			</p>
		</div>

		<div class="pickup__wrap">
			<div class="pickup__item">
				<svg class="pickup__icon">
					<use href="img/icons/sprite.svg#marker"></use>
				</svg>
				<p class="pickup__text text">
					г.Санкт-Петербург, Салтыковская дор, д.18
				</p>
			</div>

			<div class="pickup__item">
				<svg class="pickup__icon">
					<use href="img/icons/sprite.svg#marker"></use>
				</svg>
				<p class="pickup__text text">
					г.Москва, Нововладыкинский проезд, д.6Б
				</p>
			</div>
		</div>

	</div>
</section>