<section class="section">
	<div class="pickup">
		<div class="info-card">
			<h2 class="info-card__title">Самовывоз</h2>
			<p class="info-card__description text">
				Вы можете самостоятельно забрать заказ с нашего склада в удобное время, это бесплатно и
				позволяет получить товар без ожидания доставки
			</p>
		</div>

		<div class="pickup__addresses">
			<div class="pickup__wrap pickup-wrap">
				<svg class="pickup-wrap__icon">
					<use href="img/icons/sprite.svg#marker"></use>
				</svg>
				<address class="pickup-wrap__address">г.Санкт-Петербург, Салтыковская дор, д.18</address>
			</div>
			<div class="pickup__wrap pickup-wrap">
				<svg class="pickup-wrap__icon">
					<use href="img/icons/sprite.svg#marker"></use>
				</svg>
				<address class="pickup-wrap__address">г.Москва, Нововладыкинский проезд, д.6Б</address>
			</div>
		</div>
	</div>
</section>