<section class="section">
	<div class="reviews">
		<div class="info-card">
			<h2 class="info-card__title">
				Отзывы
			</h2>
			<p class="info-card__description text">
				Посмотрите, что пишут о нас наши клиенты
			</p>
		</div>

		<div class="reviews__slider swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="review-slide" style="background-image: url('@img/reviews/img-1.webp');">
						<img src="@img/reviews/img-1.webp" alt="Отзыв">
					</div>
				</div>

				<div class="swiper-slide">
					<div class="review-slide" style="background-image: url('@img/reviews/img-2.webp');">
						<img src="@img/reviews/img-2.webp" alt="Отзыв">
					</div>
				</div>

				<div class="swiper-slide">
					<div class="review-slide" style="background-image: url('@img/reviews/img-3.webp');">
						<img src="@img/reviews/img-3.webp" alt="Отзыв">
					</div>
				</div>
			</div>

			<div class="swiper-buttons">
				<div class="swiper-button-prev swiper-button"></div>
				<div class="swiper-button-next swiper-button"></div>
			</div>
		</div>

		<a class="link link-reset" href="#">Смотреть все</a>
	</div>
</section>