<nav class="sidebar__nav">
	<ul class="sidebar__list sidebar-list list-reset">
		<li class="sidebar-list__item">
			<a class="sidebar-list__link link-reset" href="#">
				Залы под ключ
			</a>
		</li>
		<li class="sidebar-list__item">
			<a class="sidebar-list__link link-reset" href="#">
				Борцовские ковры
			</a>
		</li>
		<li class="sidebar-list__item">
			<a class="sidebar-list__link link-reset" href="#">
				Будо-маты 1Х1
			</a>
		</li>
		<li class="sidebar-list__item">
			<a class="sidebar-list__link link-reset" href="#">
				Стеновые протекторы
			</a>
		</li>
		<li class="sidebar-list__item">
			<a class="sidebar-list__link link-reset" href="#">
				Татами 1Х2
			</a>
		</li>
		<li class="sidebar-list__item">
			<a class="sidebar-list__link link-reset" href="#">
				Ролл-маты
			</a>
		</li>
		<li class="sidebar-list__item">
			<a class="sidebar-list__link link-reset" href="#">
				Боксерские ринги
			</a>
		</li>
		<li class="sidebar-list__item">
			<a class="sidebar-list__link link-reset" href="#">
				Клетки ММА
			</a>
		</li>
		<li class="sidebar-list__item">
			<a class="sidebar-list__link link-reset" href="#">
				Боксерские мешки
			</a>
		</li>
		<li class="sidebar-list__item">
			<a class="sidebar-list__link link-reset" href="#">
				Борцовские манекены
			</a>
		</li>
		<li class="sidebar-list__item">
			<a class="sidebar-list__link link-reset" href="#">
				Гимнастика
			</a>
		</li>
		<li class="sidebar-list__item">
			<a class="sidebar-list__link link-reset" href="#">
				Кроссфит оборудование
			</a>
		</li>
		<li class="sidebar-list__item">
			<a class="sidebar-list__link link-reset" href="#">
				Резиновая плитка
			</a>
		</li>
		<li class="sidebar-list__item">
			<a class="sidebar-list__link link-reset" href="#">
				Экипировка
			</a>
		</li>
	</ul>
</nav>