<section class="section">
	<div class="stages">
		<div class="info-card">
			<h2 class="info-card__title">
				Этапы
			</h2>
			<p class="info-card__description text">
				Для успешного обустройства зала необходимо последовательно пройти шесть ключевых этапов
			</p>
		</div>

		<div class="stages__cards">
			<div class="stages__card stages-card">
				<div class="stages-card__num"></div>
				<div class="stages-card__inner" style="background-image: url('img/icons/sprite.svg#delivery');">
					<h3 class="stages-card__title subtitle">Бесплатно замерим ваше помещение</h3>
					<p class="stages-card__text text">Наш эксперт приедет в ваш зал и выполнит все нужные замерыВместе с вами
						составим чертеж будущего проекта</p>
				</div>
			</div>
			<div class="stages__card stages-card">
				<div class="stages-card__num"></div>
				<div class="stages-card__inner" style="background-image: url('img/icons/sprite.svg#delivery');">
					<h3 class="stages-card__title subtitle">Бесплатно замерим ваше помещение</h3>
					<p class="stages-card__text text">Наш эксперт приедет в ваш зал и выполнит все нужные замерыВместе с вами
						составим чертеж будущего проекта</p>
				</div>
			</div>
			<div class="stages__card stages-card">
				<div class="stages-card__num"></div>
				<div class="stages-card__inner" style="background-image: url('img/icons/sprite.svg#delivery');">
					<h3 class="stages-card__title subtitle">Бесплатно замерим ваше помещение</h3>
					<p class="stages-card__text text">Наш эксперт приедет в ваш зал и выполнит все нужные замерыВместе с вами
						составим чертеж будущего проекта</p>
				</div>
			</div>
		</div>
	</div>
</section>